@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}



.buttonColor {
  background-image: linear-gradient(to right, #EFB639, #C59325);
}

.text1{
  font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;

}

.imageHolder{
  width: 385;
height: 542;
border-top-left-radius: 80px;
border-bottom-left-radius: 80px;

}

.title1{
  font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 48px;
line-height: 56px;
letter-spacing: 0%;

}

.mmForm {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: block;
  gap: 12px;
  margin-top: 30px;              
}

.mmForm input,
.mmForm textarea,
.mmForm select {
  width: 100%;
  box-sizing: border-box;
  border: none;                       
  border-bottom: 1px solid #000000;   
  padding: 10px 6px;
  background: transparent;
  outline: none;
  
}


.mmForm input::placeholder,
.mmForm textarea::placeholder {
  color: #5a5a5a;
  font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;

}

.mmForm input:disabled,
.mmForm textarea:disabled,
.mmForm select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
